Source: ros-rolling-om-joint-trajectory-command-broadcaster
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-backward-ros, ros-rolling-builtin-interfaces, ros-rolling-control-msgs, ros-rolling-controller-interface, ros-rolling-generate-parameter-library, ros-rolling-pluginlib, ros-rolling-rclcpp-lifecycle, ros-rolling-rcutils, ros-rolling-realtime-tools, ros-rolling-sensor-msgs, ros-rolling-trajectory-msgs, ros-rolling-urdf, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-om-joint-trajectory-command-broadcaster
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-backward-ros, ros-rolling-builtin-interfaces, ros-rolling-control-msgs, ros-rolling-controller-interface, ros-rolling-generate-parameter-library, ros-rolling-pluginlib, ros-rolling-rclcpp-lifecycle, ros-rolling-rcutils, ros-rolling-realtime-tools, ros-rolling-sensor-msgs, ros-rolling-trajectory-msgs, ros-rolling-urdf, ros-rolling-ros-workspace
Description: Joint Trajectory Command Broadcaster ROS 2 package.
